
body{
    background: url(../assets/ricepaper.webp);
    background-repeat: repeat;
}

/* footer starter */

.backgroundFooter{
    background-color: #414594;
}

.footerTitleTxt{
    color: #fff;
    font-family: Oswald-regular;
    font-size: 32px;
}
.footerBodyTitleTxt{
    color: #fff;
    font-family: EBGaramond-Bold;
    font-size: 20px;
}

.footerBodyTxt{
    color: #fff;
    font-family: EBGaramond-Regular;
    font-size: 20px;
}
.bodyTitleTxt{
    color: #000;
    font-family: Oswald-regular;
    /* font-size: 36px; */
}
.bodyTitleImgTxt{
    color: #000;
    font-family: Oswald-regular;
    font-size: 24px;
}
.bodyTxt{
    color: #000;
    font-family: EBGaramond-Regular;
    font-size: 30px;
}

/* End starter */

.VendorsTxt{
    color: #000;
    font-family: EBGaramond-Regular;
    font-size: 20px;
}
.ownersNameTxt{
    color: #000;
    font-family: EBGaramond-Regular;
    font-size: 24px;
    font-style: normal;
    vertical-align: middle;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.inputHeight{
    height: 40px;
}

.submitBtn{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    font-family: EBGaramond-Regular;
    font-size: 20px;
}

.oswald{
    font-family: Oswald-regular;
    color: #000;
    font-size: 64px;
}

.VendorsApplicationTxt{
    color: #000;
    font-family: Oswald-regular;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
}
.marg{
    margin-bottom: 100px;
}

.border{
    padding: 3% 6% 6% 6%
}
.fontSizeBold64 {
    font-size: 64px;
    font-family: Oswald-Bold;
}
.fontSizeBold36 {
    font-size: 36px;
    font-family: Oswald-Bold;
}
.borderAbout{
    padding: 1% 96px 125px 96px
}


.VendorsTitleTxt{

    font-family: Oswald-Light;

}

.videof, .videot {
    width: 100%    !important;
    height: 100%   !important;
 }


.testRun{
    width: 2%;
}





/* Application styling */


/* Fonts */
@font-face {
    font-family: EBGaramond-Bold;
    src: url(../Fonts/EBGaramond-Bold.ttf);
}

@font-face {
    font-family: EBGaramond-Regular;
    src: url(../Fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../Fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: Oswald-Regular;
    src: url(../Fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(../Fonts/Oswald-Light.ttf);
}
/* End Fonts */

/* media Mobile */

/* @media only screen and (max-width: 410px){
    .cardp{
        padding-right: 1%;
        padding-left: 3%;
    }
    .cardpp{
        padding-right: 2%;
        padding-left: 6%;
    }
    



    .padi{
        padding-top: 5%;
    }
    .pt{
        padding-left: 0%;

    }

    .hpc{
        text-align: center;
    }
    .hpp{
        padding: 0;
    }

    .story{
        padding-left: 2%;
        padding-top: 4%;
        font-size: 39px;
        font-family: FugazOne;
        color: #5F002B;
        /* text-align: center; */
