
body{
    background: url(../assets/ricepaper.webp);
    background-repeat: repeat;
}

/* footer starter */

.backgroundFooter{
    background-color: #414594;

}

.footerTitleTxt{
    color: #fff;
    font-family: Oswald-regular;
    font-size: 30px;
}
.footerBodyTitleTxt{
    color: #fff;
    font-family: EBGaramond-Bold;
    font-size: 14px;
}

.footerBodyTxt{
    color: #fff;
    font-family: Oswald-Light;
    font-size: 14px;
}
.bodyTitleTxt{
    color: #000;
    font-family: Oswald-regular;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bodyTitleImgTxt{
    color: #000;
    font-family: Oswald-regular;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    padding: 12px 20px;

}
.bodyTxt{
    color: #000;
    font-family: Oswald-Light;
    font-size: 30px;
    font-style: normal;
    vertical-align: middle;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 12px 20px;

}
.backgroundBody{
    background-color: #fff;
}

/* End starter */

.VendorsTxt{
    color: #000;
    font-family: EBGaramond-Regular;


}
.ownersNameTxt{
    color: #000;
    font-family: EBGaramond-Regular;
    font-size: 20px;
    font-style: normal;
    vertical-align: middle;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.VendorsApplicationTxt{
    color: #000;
    font-family: Oswald-regular;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
}

.VendorsTitleTxt{

    font-family: Oswald-Light;

}

.videof, .videot {
    width: 100%    !important;
    height: 100%   !important;
 }



.testRun{

    width: 2%;


}





/* Application styling */


/* Fonts */
@font-face {
    font-family: EBGaramond-Bold;
    src: url(../Fonts/EBGaramond-Bold.ttf);
}

@font-face {
    font-family: EBGaramond-Regular;
    src: url(../Fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../Fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: Oswald-Regular;
    src: url(../Fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(../Fonts/Oswald-Light.ttf);
}
/* End Fonts */