.navBarColor {
    background-color: #FAF7F7;
}

.logoResize {
    height: 50px;
    width: auto;
}

.borderRadius {
    border-radius: 10px;
}

.fontSize96 {
    font-size: 96px;
    color: white;
    /* border: 5px solid red; */
    /* text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black; */
    fill: white;
    stroke: red;
    stroke-width: 5px;
    -webkit-text-stroke: 4px navy;
    /* text-stroke: 4px navy; */
    position: absolute;
}

.fontSize64 {
    font-size: 64px;
}

.fontSize36 {
    font-size: 36px;
}

.fontSize24 {
    font-size: 24px;
} 
/* Should make a media query for font sizes later on for better responsiveness */

.stocklandiaNightResize {
    width: 100vw;
    height: 600px;
    object-fit: cover;
    object-position: 50% 18%;
}

.containerSize {
    height: 516px;
    width: 516px;
    background-color: #FAF7F7;
    border-radius: 10px;
}

.socialMediaSize {
    height: 35px;
    width: 35px;
}