.navBarColor {
    background-color: #FAF7F7;
}

.logoResize {
    height: 50px;
    width: auto;
}

.videoSize {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 35vw;
    overflow: hidden;
}

.videoSize video {
    width: auto;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.carImageResize {
    max-width: 100%;
    object-fit: cover;
}

.borderRadius {
    border-radius: 10px;
}

/* .fontSize96 {
    font-size: 96px;
    color: white;
    /* border: 5px solid red; */
    /* text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black; */
    /* outline: 1px solid red;
    fill: white;
    stroke: red;
    stroke-width: 5px;
    -webkit-text-stroke: 4px navy;
    /* text-stroke: 4px navy; */
    /* position: absolute; 
} */

/* .fontSize96,
.no-stroke {
  color: white;
  font-size: 96px;
  -webkit-text-stroke: 3px solid red;
  position: absolute;
}

.fontSize96{
    -webkit-text-stroke: 3px solid red;
}

.fontSize96 {
    -webkit-text-stroke: 6px navy;
    font-size: 96px;
    position: absolute;
} */

/*  */

.stroke-text{
    font-size:80px;
    text-align:center;
    text-anchor:middle;
    stroke:white;
    stroke-width:5px;
    fill:none;
  }
  
  .thick{
    stroke-width:15px;
  }
  
  .thicker{
    stroke-width:20px;
  }
  
  .color1{
    stroke:blue;
  }
  
  .color2{
    stroke:red;
  }
  
  .color3{
    stroke:white;
  }



/*  */

.fontSize64 {
    font-size: 64px;
    font-family: Oswald-Regular;
}

.fontSizeBold48 {
    font-size: 48px;
    font-family: Oswald-Bold;
}

.fontSize36 {
    font-size: 36px;
}

.fontSize30 {
    font-size: 30px;
    font-family: Oswald-Regular;
}

.fontSize24 {
    font-size: 24px;
    font-family: EBGaramond-Regular;
}

.fontSizeOs24 {
    font-size: 24px;
    font-family: Oswald-Regular;
}

.fontSize16 {
    font-family: EBGaramond-Regular;
    font-size: 16px;
}

.fontSizeBold16 {
    font-size: 16;
    font-family: EBGaramond-Bold;
}

.fontSize20 {
    font-size: 20px;
    font-family: Oswald-Regular;
}

.fontSize12 {
    font-size: 12px;
    font-family: EBGaramond-Regular;
}

.fontSize13 {
    font-size: 13px;
    font-family: EBGaramond-Regular;
}

.fontSizeBold13 {
    font-size: 13px;
    font-family: EBGaramond-Bold;
}

.oswaldRegular {
    font-family: Oswald-Regular;
}

.ebGaramondRegular {
    font-family: EBGaramond-Regular;
}

.stocklandiaNightResize {
    width: 100vw;
    height: 600px;
    object-fit: cover;
    object-position: 50% 18%;
}

.containerSize {
    height: 550px;
    width: 550px;
    background-color: #FAF7F7;
    border-radius: 10px;
}

.containerSizeMobile {
    height: 550px;
    width: 550px;
    background-color: #FAF7F7;
    border-radius: 10px;
}

.socialMediaSize {
    height: 35px;
    width: 35px;
}

.landingPadding {
    padding: 50px 150px 20px 150px;
}

.landingPaddingMobile {
    padding: 70px 50px 70px 50px;
}

.blueShadow {
    box-shadow: 40px -40px 0px 0px #414594;
}

@media (min-width: 320px) {
    .landingHeader {
        font-size: calc(1.875rem + ((1vw - 3.2px) * 0.5357));
        min-height: 0vw;
    }
}

@media (min-width: 1440px) {
    .landingHeader {
        font-size: 36px;
    }
}

@media (min-width: 320px) {
    .landingText {
        font-size: calc(1.625rem + ((1vw - 3.2px) * 0.3571));
        min-height: 0vw;
    }
}

@media (min-width: 1440px) {
    .landingText {
        font-size: 30px;
    }
}

@media (min-width: 320px) {
    .trucksHeader {
        font-size: calc(2.5rem + ((1vw - 3.2px) * 2.1429));
        min-height: 0vw;
    }
}

@media (min-width: 1440px) {
    .trucksHeader {
        font-size: 64px;
    }
}

@media (min-width: 320px) {
    .aboutBioHeader {
        font-size: calc(3rem + ((1vw - 3.2px) * 1.4286));
        min-height: 0vw;
    }
}

@media (min-width: 1440px) {
    .aboutBioHeader {
        font-size: 64px;
    }
}

@media (min-width: 320px) {
    .aboutBioText {
        font-size: calc(1.25rem + ((1vw - 3.2px) * 0.3571));
        min-height: 0vw;
    }
}

@media (min-width: 1440px) {
    .aboutBioText {
        font-size: 24px;
    }
}