/* Fonts */
@font-face {
    font-family: EBGaramond-Bold;
    src: url(../Fonts/EBGaramond-Bold.ttf);
}

@font-face {
    font-family: EBGaramond-Regular;
    src: url(../Fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../Fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: Oswald-Regular;
    src: url(../Fonts/Oswald-Regular.ttf);
}
/* End Fonts */
body{
    background: url(../assets/ricepaper.webp);
    background-repeat: repeat;
}